<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="imp numbers" name="description">
    <meta content="Pedash" name="author">
    <title>UANumbers</title>
    <link href="icon/magn.png" rel="icon">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<div>
    <h5><%= fraze %> <%= author %></h5>
    <br>
    <h4>Повномасштабна війна триває вже <%= message %> днів</h4>
    <h4>Результати: <%= kills %></h4>
    <h4>ОККО: <%= fuel %></h4>
    <h4>Кількість відвідувань <%= visiters %></h4>
</div>
</body>
</html>
